@using DataAccess.Entity;
  
.
@{
    ViewBag.Title = "Add/Edit Appointment";
}
<table class="table" align="center">
    <h1 style="font-size:26px;">Add/Edit Appointment</h1>
    <tr>
        <td>
            @{
                AppointmentEntity appointment = (AppointmentEntity)ViewData["appointment"];
            }
            <form action="/AppointmentsManager/EditAppointment" method="post">
                <input type="hidden" name="Id" value="@appointment.Id" />
                <input type="hidden" name="Status" value="False" />
                <input type="hidden" name="UserId" value="@appointment.UserId" />
                <input type="hidden" name="Username" value="@appointment.Username" />
                <fieldset>
                    <table>
                        <tr>
                            <td>Doctor Id:</td>
                            <td><input type="number" name="DoctorId" value="@appointment.DoctorId" /></td>
                        </tr>
                        <tr>
                            <td>Symptoms:</td>
                            <td><input type="text" name="Symptoms" value="@appointment.Symptoms" /></td>
                        </tr>
                        <tr>
                            <td>Date and Hour:</td>
                            <td>
                                <input type="text" id="datetimepicker" name="DateHour" value="@appointment.DateHour">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Save" />&nbsp;<a href="/AppointmentsManager/Index">Cancel</a></td>
                        </tr>
                        <tr>
                           
                        </tr>
                    </table>
                </fieldset>
            </form>
        </td>
    </tr>
</table>