@using DataAccess.Entity;
.
@{
    ViewBag.Title = "Request Manager";
}
@{
    AppointmentEntity appointment = (AppointmentEntity)ViewData["appointment"];
}

<table class="table" align="center">
    <h1 style="font-size:26px;">Patient Appointment with username: @appointment.Username</h1>
    <tr>
        <td>
            <form action="/DoctorsAppointmentsManager/EditAppointment" method="post">
                <input type="hidden" name="Id" value="@appointment.Id" />
                <input type="hidden" name="UserId" value="@appointment.UserId" />
                <input type="hidden" name="DoctorId" value="@appointment.DoctorId" />
                <input type="hidden" name="Username" value="@appointment.Username" />
                <fieldset>
                    <table>
                        <tr>
                            <td>Symptoms:</td>
                            <td><input type="text" name="Symptoms" value="@appointment.Symptoms" /></td>
                        </tr>
                        <tr>
                            <td>Date and Hour:</td>
                            <td>
                                <input type="text" id="datetimepicker" name="DateHour" value="@appointment.DateHour">

                            </td>
                        </tr>
                        <tr>
                            <td>Accept Appointments:</td>
                            <td>@Html.CheckBox("Status", false)</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Save" />&nbsp;<a href="/DoctorsAppointmentsManager/Index">Cancel</a></td>
                        </tr>
                        <tr></tr>
                    </table>
                </fieldset>
            </form>
        </td>
    </tr>
</table>