
<ul class="nav navbar-nav navbar-right">
    @if (PD_Medicine.Models.AuthenticationManager.LoggedUser == null)
    {
        <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Login">Log in</a></li>
    }
    else
    {
        if (PD_Medicine.Models.AuthenticationManager.LoggedUser.UserStatus == false)
        {
            <li>@Html.ActionLink("ADD appointment", "", "AddAppointment")</li>
            <li>@Html.ActionLink("View appointments", "", "ViewAppointment")</li>
            <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Logout">Log out</a></li>
        }
        else
        {
            <li>@Html.ActionLink("View requests", "", "ViewRequests")</li>
            <li>@Html.ActionLink("Events", "", "Events")</li>
            <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Logout">Log out</a></li>
        }
    }

    @if (PD_Medicine.Models.AuthenticationManager.LoggedAdmin == null)
    {
        <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Login">Log in</a></li>
    }
    else
    {
        if (PD_Medicine.Models.AuthenticationManager.LoggedAdmin.AdminStatus == true)
        {
            <li>@Html.ActionLink("Add Doctor", "", "AddDoctor")</li>
            <li>@Html.ActionLink("View Doctors", "", "ViewDoctors")</li>
            <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Logout">Log out</a></li>
        }
    }
</ul>